body {
   height: 100vh;
   width: 100vw;
}


#homepage-img {
   height: 35%;
   width: 85%;
   bottom: 3%;
   left: 8%;
   right: 10%;
}

#homepage-description {
   font-size: 1.5em;
}


#signup-box-container {
   width: 80%;
   height: 80%;
}

#signup-form {
   height: 350px;
}

#form-divider-row {
   height: 10%;
}

.form-label {
   font-size: 1rem;
}

.signup-login-input {
   height: 75px;
}

/* #search-page-heading {
   height: 100px;
} */

#search-page-form-container, #track-page-form-container {
   height: 100px;
}


#search-page-input-group, #track-page-input-group {
   width: 90%;
}


#search-results-container {
   height: 500px;
}

.date-created, .date-liked {
   font-size: 1.2em;
}

.like, .unlike, .delete, .view, .back, .playlist-add, .add {
   font-size: 1.2em;
}

#error-img-container {
   height: 90vh;
   height: 90vw;
}


#error-img {
   height: 100%;
   height: 100%;
}